.top-margin {
  margin-top: 50px;
}

img[alt=mozilla] { width: 450px; }
img[alt=holmes-stereoscope] { width: 350px; }
img[alt=viewmaster-ad] { width: 350px; }
img[alt=viewmaster] { width: 400px; }
img[alt=vpl-eyephone] { width: 500px; }
img[alt=forte-vfx1] { width: 400px; }

